.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.keyboard-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-transform: uppercase;
}

.keyboard-button:hover,
.keyboard-button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.keyboard-button:hover {
  transform: translateY(-1px);
}

.keyboard-button:active {
  filter: brightness(75%);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.keyboard-button:disabled {
  filter: brightness(110%);
  color: #666666;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  transform: translateY(0px);
}
