.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.keyboard-button {
  font-family: "franklin";
  font-size: 1em;
  font-weight: bold;
  border: 0;
  padding: 10px;
  margin: 0 6px 0 0;
  min-width: 48px;
  max-width: 100px;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  color: #000000;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
