.modal-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modal-container {
  max-height: 80vh;
  max-width: 80vh;
  overflow: auto;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: blue;
  font-size: medium;
}
.link-button:focus {
  color: purple;
}
.link-button:visited {
  color: purple;
}