.App {
  height: 100%;
  position: relative;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 var(--header-padding-x);
  height: var(--header-height);
  color: var(--color-tone-1);
  border-top: 1px solid #555555;
  border-bottom: 2px solid #555555;
}

.App-module-game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  padding: 10px;
  gap: 10px;
}

.color-keyboard-container {
  flex-grow: 1;
  overflow: hidden;
  padding: 10px;
  height: 200px;
  margin: 0 8px;
  user-select: none;
}
